{% extends "layout.html" %}

{% block content %}
  <div class="col-lg-8" id='map' style='height: 100vh'></div>
  <div class="col-lg-4">
    <div class="selections">
      <div class="hotel-selection">
        <h3>Hotels</h3>
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Select a hotel
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div>
        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></button>
      </div>
      <div class="restaurant-selection">
        <h3>Restaurants</h3>
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Select a hotel
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div>
        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></button>
      </div>
      <div class="todo-selection">
        <h3>Things To Do</h3>
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Select a hotel
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div>
        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></button>
      </div>
    </div>
    <div class="itinerary">
      <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#">Day 1</a></li>
        <li role="presentation"><a href="#">Day 2</a></li>
        <li role="presentation"><a href="#"><span class="glyphicon glyphicon-plus"></a></li>
      </ul>
      <div class='itinerary-contents'>
        <div class='itinerary-section'>
          <h3>My Hotels</h3>
          <div class='itinerary-hotels'>
            <ul class='hotel-list'>
              <li>Andaz Wall St.<span class="glyphicon glyphicon-remove"></span></li>
            </ul>  
          </div>  
        </div>
        <div class='itinerary-section'>
          <h3>My Restaurants</h3>
          <div class='itinerary-restaurants'>
            <ul class='restaurant-list'>
              <li>Bouley<span class="glyphicon glyphicon-remove"></span></li>
              <li>The Capital Grill<span class="glyphicon glyphicon-remove"></span></li>
            </ul> 
          </div>
        </div>
        <div class='itinerary-section'>
          <h3>My Things To Do</h3>
          <div class='itinerary-todos'>
            <ul class='todos-list'>
              <li>Museum of Natural History<span class="glyphicon glyphicon-remove"></span></li>
              <li>Statue of Liberty<span class="glyphicon glyphicon-remove"></span></li>
              <li>Metropolitan Museum of Art<span class="glyphicon glyphicon-remove"></span></li>
            </ul> 
          </div>
        </div>  

      </div> 
    </div>

  </div>
{% endblock %}
